{% extends 'base.html' %}

{% block title %}
Register
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="static/accounts/styles.css">
{% endblock css %}

{% block content %}

<div class="container">
  {% if messages %}
  {% for message in messages %}

  {% if message.tags == 'success'%}
  <div class="alert alert-success" role="alert" , style="font-weight: bold;">
    {{ message | safe }}
  </div>

  {% elif message.tags == 'info'%}
  <div class="alert alert-info" role="alert" , style="font-weight: bold;">
    {{ message | safe }}
  </div>

  {% elif message.tags == 'warning'%}
  <div class="alert alert-warning" role="alert" , style="font-weight: bold;">
    {{ message | safe }}
  </div>

  {% elif message.tags == 'error'%}
  <div class="alert alert-danger" role="alert" , style="font-weight: bold;">
    {{ message | safe }}
  </div>

  {% endif %}
  {% endfor %}
  {% endif %}
  <form class="" action="{% url 'register' %}" method="post">
    {% csrf_token %}

    <h1>Register</h1>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Username</span>
      <input name="username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" required>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon2">First Name</span>
      <input name="first_name" type="text" class="form-control" placeholder="First Name" aria-label="First Name" aria-describedby="basic-addon1" required>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon3">Last Name</span>
      <input name="last_name" type="text" class="form-control" placeholder="Last Name" aria-label="Last Name" aria-describedby="basic-addon1" required>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon4">Email</span>
      <input name="email" type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" required>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon5">Set Password</span>
      <input name="password1" type="password" class="form-control" placeholder="Set Password" aria-label="Set Password" aria-describedby="basic-addon1" required>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon6">Confirm Password</span>
      <input name="password2" type="password" class="form-control" placeholder="Confirm Password" aria-label="Confirm Password" aria-describedby="basic-addon1" required>
    </div>

    <button class="btn btn-dark" type="submit" name="button">Register</button>
  </form>

</div>


{% endblock content %}
